In [2]:
1+2

3

In [3]:
4%2

0

In [4]:
4/2

2.0

In [5]:
#Nearest whole number
5//2

2

In [6]:
5/2

2.5

In [7]:
#BODMAS--Bracket, order or power, Divison/multiplication, addition/substraction
5*3+2

17

In [8]:
(5*3)+2

17

In [1]:
type(2)

int

In [2]:
type(4/2)

float

In [3]:
type('k')

str

In [4]:
type(5/2)

float

In [5]:
type(5/0)

ZeroDivisionError: division by zero

In [11]:
a=10
b=20
c=a+b
print(c)
type(c)

30

int

In [12]:
true

NameError: name 'true' is not defined

In [13]:
True

True

In [14]:
False

False

In [15]:
True or False

True

In [16]:
True And False

SyntaxError: invalid syntax (<ipython-input-16-e2ced0295f84>, line 1)

In [17]:
True and False

False

In [18]:
type(True and False)

bool

In [19]:
True | False

True

In [22]:
True || False

SyntaxError: invalid syntax (<ipython-input-22-f148db5eafe9>, line 1)

In [23]:
a=10
b=20
a+b>30 | a-b<10

True

In [28]:
### strings
type('Krish is good boy')

str

In [29]:
type("Krish is good boy")

str

In [30]:
str(1)

'1'

In [31]:
str(123)

'123'

In [32]:
str1="A good boy"
str2="A bad boy"
print(str1)
print(str2)

A good boy
A bad boy

In [33]:
str1+str2

'A good boyA bad boy'

In [34]:
str1+" "+str2

'A good boy A bad boy'

In [49]:
name=input("Enter your name? ")
print(name)

Enter your name? VPN/Vineet Kumar Goyenka/Payal Goyenka/NalinGoyenka
VPN/Vineet Kumar Goyenka/Payal Goyenka/NalinGoyenka

In [38]:
##add 2 numbers
a=input("enter number 1?")
b=input("enter number 2?")
c=a+b
print("the o/p is",c)

enter number 1?23
enter number 1?34
the o/p is 2334

In [48]:
##add 2 numbers
a=float(input("enter number 1?"))
b=float(input("enter number 2?"))
c=a+b
print("the o/p is",c)

enter number 1?10000000000000000000000000000000000000000000000000
enter number 2?10000000000000000000000000000000000000000000000000
the o/p is 2e+49

In [56]:
#string formatting
first_name=input("what is your first name?")
last_name=input("what is your last name?")
print("welcome to ineuron course",first_name,last_name)

what is your first name?Krish
what is your last name?Naik
welcome to ineuron course Krish Naik

first_name=input("what is your first name?")
last_name=input("what is your last name?")
print("My first name is {} and last name is {}".format(first_name,last_name))

In [1]:
#if we give wrong i/p by mistake first name and last name
first_name=input("what is your first name?")
last_name=input("what is your last name?")
print("My first name is {} and last name is {}".format(last_name,first_name))

what is your first name?Krish
what is your last name?Naik
My first name is Naik and last name is Krish

In [2]:
#fixing above issue
first_name=input("what is your first name?")
last_name=input("what is your last name?")
print("My first name is {firstname} and last name is {lastname}".format(firstname=first_name,lastname=last_name))

what is your first name?Krish
what is your last name?Naik
My first name is Krish and last name is Naik

In [3]:
#strong typing
"krish" + 1

TypeError: can only concatenate str (not "int") to str

In [4]:
##Conditional statements
#if and elif
a=int(input("enter the number1?"))
b=int(input("enter the number2?"))
c=a-b
print("the output is",c)
if c<0:
    print("the number is negative")
else:
    print("the number is positive")

enter the number1?34
enter the number2?34
the output is 0
the number is positive

In [9]:
#if and elif
a=int(input("enter the number1?"))
b=int(input("enter the number2?"))
c=a-b
print("the output is",c)
if c<0:
    print("the number is negative")
elif c>40:
    print("the number is huge")
else:
    print("the number is positive")

enter the number1?56
enter the number2?56
the output is 0
the number is positive

In [4]:
lst=[1,2,3,"Krish","Naik"]
lst

[1, 2, 3, 'Krish', 'Naik']

In [5]:
lst=[1,2,3,"Krish","Naik"]
lst
type(lst[3])

str

In [6]:
lst=[1,2,3,"Krish","Naik"]
lst
type(lst)

list

In [3]:
lst=[1,2,3,"Krish","Naik"]
lst.append("Ineuron")
lst

[1, 2, 3, 'Krish', 'Naik', 'Ineuron']

In [2]:
lst=[1,2,3,"Krish","Naik"]
lst.append("Ineuron")
lst[2]="Data science"
print(lst)

[1, 2, 'Data science', 'Krish', 'Naik', 'Ineuron']

In [16]:
%%time
##for loop
##sum of odd numbers and even numbers in the list
lst=[1,3,4,6,7,8,9,2,3,4,5]
sum_odd=0
sum_even=0
for i in lst:
    if i%2==0:
        sum_even=sum_even+i
print(sum_even) 
#
for j in lst:
    if j%2==1:
        sum_odd=sum_odd+j
print(sum_odd)

24
28
Wall time: 0 ns

In [6]:
%%time
##break
lst=[4,5,3,6,7,1,2,7,8,9,3,6]
sum1=0
for i in lst:
    if i==1:
        break
    sum1=sum1+i
print(sum1)

25
Wall time: 0 ns

In [1]:
%%time
lst=[1,2,3,4,5,6,7,8,9]
sum_even=0
sum_odd=0
for i in lst:
    if i%2==0:
        sum_even=sum_even+i
        if sum_even>20:
            break
    else:
        sum_odd=sum_odd+i
        if sum_odd>20:
            break
else:
    print('sum is less than 20')

Wall time: 0 ns

In [1]:
"I'm using single quotes"

"I'm using single quotes"

In [2]:
s='Hello World Krish!'
s.upper()

'HELLO WORLD KRISH!'